<div class="container">
  <h1 class="mt-4 mb-4">{{question.title}}</h1>
  <div class="row col-xl-12">
    <span>提问时间：{{question.askDate}}</span>
    <mat-icon class="ml-xl-2">face</mat-icon>
    <span><a routerLink="/user/detail/{{question.asker}}">提问者：{{question.askerName}}</a></span>
    <span class="ml-xl-2">赏金：{{question.price}} 元</span>
    <!--<span class="ml-xl-2"><mat-icon>shopping</mat-icon></span><span>：{{question.number}}</span>-->
  </div>
  <div class="row mt-4">
    <div class="col-xl-12" [innerHTML]="content">
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">扫码打赏妹子</div>
    <div class="col-xl-12">
      <img src="../../assets/img/alipay-ecode.jpg" class="alipay-img">
    </div>
  </div>

  <div class="row col-12 mt-2">
    <span class="primary-color hand" (click)="zan(question)" title="点赞"><fa-icon [icon]="faHeart" class="fa-2x"></fa-icon> {{question.loveNumber}}</span>
    <span class="primary-color hand ml-4" (click)="focus(question)" title="关注"><fa-icon [icon]="faPlus" class="fa-2x"></fa-icon> {{question.focusNumber}}</span>
  </div>

  <div class="row mt-4">
    <div class="col-xl-12">
      <div style="color: green"><span class="fa-2x"><fa-icon [icon]="faCheck"></fa-icon> 最佳答案</span></div>
      <mat-divider class="mt-1"></mat-divider>
      <app-right-answer [questionId]="question.id" [answer]="question.answer"></app-right-answer>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-xl-12">
      <mat-tab-group>
        <mat-tab label="用户回答">
          <app-answer-list [questionId]="question.id" [asker]="question.asker"></app-answer-list>
        </mat-tab>
        <mat-tab label="谁看了答案">
          <app-order-list [articleId]="question.id"></app-order-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <h1 class="mt-4 mb-4 text-center">我来答</h1>
  <app-answer [questionId]="question.id"></app-answer>
</div>
