<div class="container">
  <h1 class="mt-4 mb-4">{{article.title}}</h1>
  <div class="row col-xl-12">
    <span>时间：{{article.createDate}}</span>
    <mat-icon class="ml-xl-2">face</mat-icon><span><a routerLink="/user/detail/{{article.authorId}}">作者：{{article.authorName}}</a></span>
    <span class="ml-xl-2">价格：{{article.price}}</span>
    <span class="ml-xl-2"><mat-icon>shopping</mat-icon></span><span>：{{article.number}}</span>
  </div>
  <div class="row mt-4">
    <div class="col-xl-12" [innerHTML]="content">
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">扫码打赏妹子</div>
    <div class="col-xl-12">
      <img src="../../assets/img/alipay-ecode.jpg" class="alipay-img">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-xl-12">
      <mat-tab-group>
        <mat-tab label="用户吐槽">
          <app-article-comment [articleId]="article.id"></app-article-comment>
        </mat-tab>
        <mat-tab label="阅读购买记录">
          <app-order-list [articleId]="article.id"></app-order-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <form>
    <div class="row mt-5">
      <div class="col-xl-12">
        <mat-form-field class="w-100">
          <textarea matInput placeholder="您的吐槽..." [(ngModel)]="comment.content" name="comment"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row mt-xl-2 mb-4">
      <div class="col-xl-12">
        <button mat-raised-button type="button" (click)="addComment()" color="accent" class="col-md-2 col-sm-12 mb-2">吐槽</button>
        <button mat-raised-button type="reset" class="col-md-2 col-sm-12 mb-2">取消</button>
      </div>
    </div>
  </form>
</div>
