<div class="container">
  <h1 class="mt-4 mb-4">{{article.title}}</h1>
  <div class="row col-xl-12">
    <span><a routerLink="/user/detail/{{article.authorId}}">作者：{{article.authorName}}</a></span>
    <span class="ml-xl-3 primary-color">价格：{{article.price}} 元</span>
    <span class="ml-xl-3">写作时间：{{article.createDate}}</span>
    <span class="ml-xl-3">阅读数：</span><span> {{article.number}}</span>
    <!--<button class="btn btn-outline-success" (click)="protobuf()">protobuf</button>-->
  </div>
  <div class="row mt-4">
    <div class="col-xl-12" [innerHTML]="content">
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">扫码打赏妹子</div>
    <div class="col-xl-12">
      <img src="../../assets/img/alipay-ecode.jpg" class="alipay-img">
    </div>
  </div>

  <div class="row col-12 mt-2">
    <span class="primary-color hand" (click)="zan(article)" title="点赞"><fa-icon [icon]="faHeart" class="fa-2x"></fa-icon> {{article.loveNumber}}</span>
    <span class="primary-color hand ml-4" (click)="focus(article)" title="关注"><fa-icon [icon]="faPlus" class="fa-2x"></fa-icon> {{article.focusNumber}}</span>
  </div>

  <div class="row mt-4">
    <div class="col-xl-12">
      <mat-tab-group>
        <mat-tab label="用户吐槽">
          <app-article-comment [articleId]="article.id"></app-article-comment>
        </mat-tab>
        <mat-tab label="阅读购买记录">
          <app-order-list [articleId]="article.id"></app-order-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <form>
    <div class="row mt-5">
      <div class="col-xl-12">
        <mat-form-field class="w-100">
          <textarea matInput placeholder="您的吐槽..." [(ngModel)]="comment.content" name="comment"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row mt-xl-2 mb-4">
      <div class="col-xl-8 col-lg-8 offset-lg-4 offset-xl-4 offset-sm-0">
        <button mat-raised-button type="submit" (click)="addComment()" color="accent" class="col-xl-3 col-md-2 col-sm-12 mb-2">吐 槽</button>
        <button mat-raised-button type="reset" class="col-xl-3 col-md-2 col-sm-12 mb-2">取 消</button>
      </div>
    </div>
  </form>
</div>
