<div class="container">
  <h1 class="mt-xl-4 mb-xl-4">{{article.title}}</h1>
  <div class="row col-xl-12">
    <span>时间：{{article.createDate}}</span>
    <mat-icon class="ml-xl-2">face</mat-icon><span><a href="user/detail/{{article.authorId}}">作者：{{article.authorName}}</a></span>
    <span class="ml-xl-2">价格：{{article.price}}</span>
    <span class="ml-xl-2"><mat-icon>shopping</mat-icon></span><span>：{{article.number}}</span>
  </div>
  <div class="row mt-xl-4">
    <div class="col-xl-12" [innerHTML]="content">
    </div>
  </div>
</div>
