<mat-card *ngFor="let question of questionList" class="col-12">
  <mat-card-header>
    <!--<div mat-card-avatar class="mr-2">-->
      <!--<img src="{{imageHost}}img/avatar/{{question.asker}}.jpeg" class="header-image">-->
    <!--</div>-->
    <mat-card-title>{{question.askerName}}</mat-card-title>
    <mat-card-subtitle>{{question.askDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="container mt-xl-4 mt-4">
    <a routerLink="/question/detail/{{question.id}}">
      <div class="row">
        <div class="col-xl-2" *ngIf="question.filePath">
          <img mat-card-image src="{{imageHost}}{{question.filePath}}{{question.type}}">
        </div>
        <div class="col-xl-10">
          <div class="container">
            <div class="row">
              {{question.title}}
            </div>
          </div>
        </div>
      </div>
    </a>
  </mat-card-content>
  <mat-card-actions>
    <div class="ml-3">
      <!--<span class="primary-color hand" (click)="zan(question)" title="点赞"><fa-icon [icon]="faHeart" class="fa-lg"></fa-icon> {{question.loveNumber}}</span>-->
      <span class="primary-color hand" routerLink="/question/detail/{{question.id}}" title="详情"><fa-icon [icon]="faBars" class="fa-lg"></fa-icon></span>
    </div>
  </mat-card-actions>
</mat-card>
