<mat-card *ngFor="let question of questionList" class="col-12 mt-1">
  <mat-card-header>
    <mat-card-subtitle>提问时间：{{question.askDate | date:'yyyy-MM-dd HH:mm:ss'}}
      <span class="primary-color ml-3" title="点赞数"><fa-icon [icon]="faHeart" class="fa-lg"></fa-icon> {{question.loveNumber}}</span>
      <span class="primary-color ml-3" title="关注数"><fa-icon [icon]="faPlus" class="fa-lg"></fa-icon> {{question.focusNumber}}</span>
    </mat-card-subtitle>
    <!--<mat-card-title>提问时间：{{question.askDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-card-title>-->
  </mat-card-header>

  <mat-card-content class="container mt-xl-4 mt-4">
    <a routerLink="/question/detail/{{question.id}}">
      <div class="row">
        <div class="col-xl-2" *ngIf="question.filePath">
          <img mat-card-image src="{{imageHost}}{{question.filePath}}{{question.type}}">
        </div>
        <div class="col-xl-10">
          <div class="container">
            <div class="row">
              {{question.title}}
            </div>
          </div>
        </div>
      </div>
    </a>
  </mat-card-content>
  <mat-card-actions>
    <div class="ml-4">
      <span class="primary-color hand mr-4" (click)="delete(question)" title="删除"><fa-icon [icon]="faTrashAlt" class="fa-lg"></fa-icon> 删除</span>
      <span class="primary-color hand mr-4" (click)="update(question)" title="修改"><fa-icon [icon]="faEdit" class="fa-lg"></fa-icon> 修改</span>
      <span class="primary-color hand" routerLink="/question/detail/{{question.id}}" title="详情"><fa-icon [icon]="faBars" class="fa-lg"></fa-icon> 详情</span>
    </div>
  </mat-card-actions>
</mat-card>
<div class="col-12 mb-4 mt-4">
  <div class="clearfix">
    <span class="primary-color hand float-right fa-lg ml-4" (click)="loadPage(1)" title="下一页">下一页 <fa-icon [icon]="faChevronRight"></fa-icon></span>
    <span class="primary-color hand float-right fa-lg" (click)="loadPage(-1)" title="上一页"><fa-icon [icon]="faChevronLeft"></fa-icon> 上一页</span>
  </div>
</div>
