<div class="container">
  <div class="row">
    <h1>Angular5 Masonry</h1>
  </div>
  <div class="row">
    <button (click)="addText()">Add text brick</button>
    <button (click)="addImage()">Add image brick</button>
  </div>
  <masonry [options]="options" [useImagesLoaded]="true"
           fxLayout="row" fxLayout.xs="column"
           fxLayoutAlign="start"
           fxLayoutGap="5px"
           fxLayoutGap.xs="0">
    <mat-card masonry-brick *ngFor="let brick of bricks" fxFlex="30" fxFlex.xs="auto">
      <img *ngIf="brick.image" src="{{brick.image}}" style="width:100%;">
      <p *ngIf="brick.text">{{brick.text}}</p>
      <button (click)="remove(brick)">Remove</button>
    </mat-card>
  </masonry>

</div>

