<!--header navigation-->
<nav class="navbar navbar-expand-md tales-nav widewrapper">
  <div class="container">
    <div class="row col-xl-12">
      <a href="#">
        <img class="navbar-brand" src="../favicon.ico">
      </a>
      <button class="navbar-toggler mb-xl-2" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
              aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav nav-pills mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="index">首页 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="article/write">写作</a>
          </li>
          <li class="nav-item" *ngIf="!userName">
            <a class="nav-link" routerLink="login">登录</a>
          </li>
          <li class="nav-item" *ngIf="!userName">
            <!--这里使用routerLink不行，难道是这个index.html不受angular5模板控制？-->
            <!--是index.html不受angular5模板控制，因为它不属于任何一个组件，现在移到AppComponent中，受控制了-->
            <a class="nav-link" routerLink="register">注册</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">问题</a>
          </li>
          <li class="nav-item" *ngIf="userName">
            <a class="nav-link" routerLink="user/center/{{userId}}">{{userName}}</a>
          </li>
          <li class="nav-item" *ngIf="userName">
            <a class="nav-link" routerLink="user/logout">退出</a>
          </li>
          <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"-->
          <!--aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="dropdown01">-->
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
          <!--</li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
