<div *ngIf="answer !== undefined && answer !== null">
  <div class="row col-12 mt-3">
    <img src="{{imageHost}}{{answer.avatar}}" class="header-image">
    <div class="col-10">
      <div class="col-12">{{answer.nickName}}</div>
      <div class="col-12">{{answer.answerDate | date:'yyyy-MM-dd HH:mm:ss'}}</div>
    </div>
  </div>
  <div [innerHTML]="answer.content | html" class="row col-12 mt-2"></div>
</div>
<div *ngIf="answer === undefined || answer === null" class="row col-12 mt-3">
  还没有最佳答案，赶紧去抢答，帮助TA吧。
</div>

