<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="mr-2">
        <img src="{{url}}{{user.avatar}}" alt="头像" class="header-image">
      </div>
      <mat-card-title>{{user.name}}</mat-card-title>
      <mat-card-subtitle>{{user.title}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content >
      <div class="row mb-2">
        <div class="col-md-4">
          <b class="font-size-lg">姓名：</b>
          <span class="primary-color"> {{user.name}}</span>
        </div>
        <div class="col-md-4">
          <b class="font-size-lg">帐号：</b>
          <span class="primary-color"> {{user.account}}</span>
        </div>
        <div class="col-md-4">
          <b class="font-size-lg">昵称：</b>
          <span class="primary-color">{{user.nickName}}</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-4">
          <b class="font-size-lg">手机：</b>
          <span class="primary-color">{{user.mobile}}</span>
        </div>
        <div class="col-md-4">
          <b class="font-size-lg">微信：</b>
          <span class="primary-color">{{user.weixin}}</span>
        </div>
        <div class="col-md-4">
          <b class="font-size-lg">支付宝：</b>
          <span class="primary-color">{{user.alipay}}</span>
        </div>
      </div>

      <div class="row">
        <!--<div class="col-lg-2 col-sm-12">-->
          <!--<img src="{{url}}{{user.avatar}}" alt="头像" class="img-fluid">-->
        <!--</div>-->
        <div class="col-lg-12">
          <table class="table table-bordered">
            <tr>
              <th>文章数</th><th>提问数</th><th>回答数</th><th>评论数</th>
            </tr>
            <tr>
              <td>345</td><td>123</td><td>33</td><td>33</td>
            </tr>
            <tr>
              <th>总收入</th><th>总支出</th><th>被关注数</th><th>排行榜</th>
            </tr>
            <tr>
              <td>345</td><td>123</td><td>33</td><td>33</td>
            </tr>
          </table>
        </div>
      </div>
      <p>
        {{user.summary}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn btn-outline-success ml-3 mr-3">修改密码</button>
      <button class="btn btn-outline-success">修改个人信息</button>
    </mat-card-actions>
  </mat-card>

  <mat-tab-group class="mt-xl-4 mt-md-4 mt-4">
    <mat-tab label="文章">
      <app-article-list [userId]="userId"></app-article-list>
    </mat-tab>
    <mat-tab label="问题">
      <app-question-list [userId]="userId"></app-question-list>
    </mat-tab>
    <mat-tab label="回答">
      <app-my-answer></app-my-answer>
    </mat-tab>
    <mat-tab label="订单">
      <app-order-list></app-order-list>
    </mat-tab>
    <mat-tab label="账户">
      <app-account></app-account>
    </mat-tab>
    <mat-tab label="吐槽">

    </mat-tab>
    <mat-tab label="关注">

    </mat-tab>
    <mat-tab label="积分">

    </mat-tab>
  </mat-tab-group>
</div>

