<div class="container mt-xl-2">
  <masonry [options]="options" [useImagesLoaded]="true"
           fxLayout="row" fxLayout.xs="column"
           fxLayoutAlign="start"
           fxLayoutGap="4px"
           fxLayoutGap.xs="2px" fxLayoutGap.lg="4px" fxLayoutGap.md="2px" fxLayoutGap.sm="2px" class="row col-xl-12">
    <mat-card masonry-brick *ngFor="let article of articleList" fxFlex="32" fxFlex.xs="auto" class="col-xl-4 col-sm-12 mt-2">
      <a href="article/detail/{{article.id}}">
        <img *ngIf="article.image" src="{{article.image}}" class="card-img">
        <p *ngIf="article.summary">{{article.summary}}</p>
      </a>
      <button (click)="remove(article)">Remove</button>
    </mat-card>
  </masonry>
</div>

