<div class="container mt-xl-2">
  <masonry [options]="options" [useImagesLoaded]="true"
           fxLayout="row" fxLayout.xs="column"
           fxLayoutAlign="start"
           fxLayoutGap="4px"
           fxLayoutGap.xs="2px" class="row col-12">
    <mat-card masonry-brick *ngFor="let article of articleList" fxFlex.xl="32" fxFlex.lg="32" fxFlex.md="48" fxFlex.sm="98" fxFlex.xs="auto" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-2">
      <a routerLink="/article/detail/{{article.id}}">
        <img *ngIf="article.image" src="{{article.image}}" class="card-img">
        <p *ngIf="article.summary">{{article.summary}}</p>
      </a>
      <button (click)="remove(article)">Remove</button>
    </mat-card>
  </masonry>

  <div class="row col-12 mt-4 mb-4">
    <button class="btn btn-primary offset-xl-5 offset-lg-5 col-xl-2 col-lg-2 col-md-12 col-sm-12" (click)="loadMore()">加载更多...</button>
  </div>
</div>

