<div class="container">
  <form #userForm="ngForm" (ngSubmit)="update()">
    <div class="row mt-md-4">
      <h2 class="col-md-12 text-md-center">修改密码</h2>
      <mat-form-field class="col-md-12">
        <input matInput placeholder="原密码" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" name="password" #password="ngModel" type="text" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <input matInput placeholder="新密码" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.newPassword" name="newPassword" #newPassword="ngModel" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <input matInput placeholder="再次输入新密码" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.checkPasswd" name="checkPasswd" #checkPasswd="ngModel" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>

    <div class="row mt-md-4">
      <div class="col-md-12">
        <button type="reset" mat-dialog-close class="col-md-2 col-sm-12 mb-2 btn btn-outline-success mr-2 offset-lg-4 offset-md-4">取 消</button>
        <button type="submit" class="col-md-2 col-sm-12 mb-2 btn btn-success">修 改</button>
      </div>
    </div>
  </form>
</div>
