/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";*/
/*@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";*/
/*@import "../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
/*配置了这两个，mat-icon字体图标才会起作用*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a {
  color: #e84423;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #ec5d40;
}

.tales-nav .nav-pills {
  margin-bottom: 0;
  font-size: 16px;
}
.tales-nav .nav-pills > li {
  margin-left: 10px;
}
.tales-nav .nav-pills > li > a {
  color: #e9e4da;
  padding: 11px 16px;
  line-height: 14px;
}
.tales-nav .nav-pills > li > a:hover,
.tales-nav .nav-pills > li > a:focus {
  color: #e9e4da;
  background-color: #f06448;
}
.tales-nav .nav-pills > li.dropdown.open.active > a:hover,
.tales-nav .nav-pills > li.dropdown.open.active > a:focus {
  background-color: #f06448;
}
.tales-nav .nav-pills .open .dropdown-toggle {
  background-color: #f06448;
}
.tales-nav .nav-pills > .active > a {
  background-color: #f06448;
}
.tales-nav .nav-pills > .active > a:hover,
.tales-nav .nav-pills > .active > a:focus {
  background-color: #f06448;
}

.tales-nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.tales-nav .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 767px) {
  .tales-nav .nav-pills {
    margin-top: 10px;
  }
}

.widewrapper {
  background-color: #e84423;
  color: #e9e4da;
}

.widewrapper a {
  color: #e9e4da;
}

.bg-orange {
  background-color: #e84423;
}

.height-20 {
  height: 20px;
}
/*bootstrap4 改为了 .img-fluid，这里兼容一下以前数据*/
.img-responsive {
  max-width: 100%;
  height: auto;
}

.alipay-img {
  width: 200px;
  height: 200px;
}
