<div class="container">
  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row mt-md-4 offset-md-3">
      <h1 class="col-md-8 text-md-center">用户注册</h1>

      <mat-form-field class="col-md-8">
        <input matInput placeholder="账户" [(ngModel)]="user.account" name="account" #account="ngModel" required>
      </mat-form-field>

      <mat-form-field class="col-md-8">
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="密码，最少为8位" [(ngModel)]="user.password" name="password" required #password="ngModel">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <mat-form-field class="col-md-8">
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="再次输入密码" [(ngModel)]="user.checkPasswd" name="checkPasswd" required #checkPasswd="ngModel">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <mat-form-field class="col-md-8">
        <input matInput placeholder="手机" type="tel" [(ngModel)]="user.mobile" name="mobile" #mobile="ngModel">
      </mat-form-field>

      <mat-radio-group [(ngModel)]="user.gender" name="gender" #gender="ngModel" class="col-md-8 mt-md-2">
        <mat-radio-button value="1">男</mat-radio-button>
        <mat-radio-button value="2">女</mat-radio-button>
      </mat-radio-group>

      <mat-checkbox [(ngModel)]="user.agreement" name="agreement" #agreement="ngModel" class="col-md-8 mt-md-2">
        <a routerLink="/agreement">已阅读并同意用户协议！</a>
      </mat-checkbox>
    </div>

    <div class="row offset-md-3 mt-md-4">
      <div class="col-md-12 offset-md-2">
        <button mat-raised-button type="submit" color="accent" class="col-md-2 col-sm-12 mb-2">注册</button>
        <button mat-raised-button type="reset" class="col-md-2 col-sm-12 mb-2">取消</button>
      </div>
    </div>

  </form>
</div>
